<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <input type="text" v-model="inputvalue" />
        <button v-on:click="addTodo">提交</button>
        <ul>
            <!--<li v-for="item in list">{{item}}</li>-->
            <!--v-bind绑定中间变量-->
            <todo-item v-bind:content ="item" v-for="item in list"></todo-item>
        </ul>
    </div>
    <script>
        //局部组件
        //Vue.component("todo-item", {
        //    props: ['content'],//定义中间变量
        //    template: " <li >{{ content }}</li>"
        //});

        var TodoItem2 = {
            props: ['content'],//定义中间变量
            template: " <li >{{ content }}</li>"
        }

        var app = new Vue({
            el: '#app',
            components: {
                TodoItem: TodoItem2
            },
            data: {
                list: [],
                inputvalue:''
            },
            methods: {
                addTodo: function () {
                    this.list.push(this.inputvalue);
                    this.inputvalue = '';
                }
            }
        })
    </script>
</body>
</html>